<!-- start custom head snippets -->
    <!-- Twitter cards -->
    <meta name="twitter:site"    content="AssuranceMaladieSec">
    <meta name="twitter:creator" content="AssuranceMaladieSec">
    <meta name="twitter:card"    content="summary">
    <meta name="twitter:title"   content="{{page.title}}}}">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://assurancemaladiesec.github.io/images/logo.jpg">
    <!-- end of Twitter cards -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->